:root {
    /* Font */
    --primary-font: Roboto, sans-serif;
    --second-font: Raleway, sans-serif;
    /* Color */
    --primary-color: #FFFFFF;
    --primary-text: #434455;
    --primary-header: #2E2F42;
    --color-logo-blue: #4D5AE5;
}
/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--primary-text);
}
/* Reset */
.list,
ul,
ol {
    list-style: none;
}
.link,
a {
    text-decoration: none;
    color: currentColor;
}
/**
  |============================
  | Header styles
  |============================
*/
.logo {
    font-family: var(--second-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-logo-blue);
}
.logo-black {
    color: var(--primary-header);
}
.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-header);
}

.header-address { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
    color: var(--primary-text);
    font-style: normal;
}

.header-nav-hom:hover,active {
    color: #404bbf;    
}
.header-nav-por:hover,active {
    color: #404bbf;
}
.header-nav-st:hover,active {
    color: #404bbf;
}
 .header-nav-por:hover,active {
    color: #404bbf;
}
 .header-nav-con:hover,active {
    color: #404bbf;
}
 .mailto:hover,active {
    color: #404bbf;
}
 .tel:hover,active {
    color: #404bbf;
}


/**
  |============================
  | Hero styles
  |============================
*/
.hero {
 background-color: var(--primary-header);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.hero-button {
    background: #4D5AE5;
}
.hero-but-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    color: #FFFFFF;
}

/**
  |============================
  | Styles first section
  |============================
*/

/**
  |============================
  | Styles second section
  |============================
*/
.second-third-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-black);
}
/**
  |============================
  | Styles third section
  |============================
*/
.third-sec{
    background: #F4F4FD;
}

/**
  |============================
  | Footer styles
  |============================
*/



.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
}